@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");
body {
  background: lightblue;
}
.App {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
.list {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.pokemons {
  font-size: 1em;
  margin-top: 15px;
  cursor: pointer;
}

.pokenames {
  text-decoration: none;
  color: black;
}

.details {
  margin-top: 20px;
}
